---
# Install Homebrew and packages

- name: Get debian user home directory
  shell: echo ~debian
  register: debian_home
  changed_when: false

- name: Check if Homebrew is installed
  stat:
    path: /home/linuxbrew/.linuxbrew/bin/brew
  register: homebrew_binary

- name: Install Homebrew
  shell: |
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  become_user: debian
  become: yes
  when: not homebrew_binary.stat.exists
  register: homebrew_install

- name: Add Homebrew to PATH in .zshrc
  lineinfile:
    path: "{{ debian_home.stdout }}/.zshrc"
    line: 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv zsh)"'
    create: yes
    state: present
    owner: debian
    group: debian
  become: yes

- name: Copy Brewfile to home directory
  copy:
    src: Brewfile
    dest: "{{ debian_home.stdout }}/.Brewfile"
    owner: debian
    group: debian
    mode: '0644'
  become: yes

- name: Install packages from Brewfile
  shell: |
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    brew bundle --global
  become_user: debian
  become: yes
  register: brew_bundle
  changed_when: "'Installing' in brew_bundle.stdout or 'Upgrading' in brew_bundle.stdout"

- name: Display installation results
  debug:
    msg: |
      Homebrew installation complete!
      - Homebrew: {{ 'newly installed' if homebrew_install.changed else 'already installed' }}
      - Brewfile packages: {{ 'updated' if brew_bundle.changed else 'up to date' }}

      You can now use 'brew' commands and packages from the Brewfile.
  when: homebrew_install is defined or brew_bundle is defined
