---
# Install and configure dotfiles

- name: Get debian user home directory
  shell: echo ~debian
  register: debian_home
  changed_when: false

- name: Create src directory structure
  file:
    path: "{{ debian_home.stdout }}/src/github.com/zfogg"
    state: directory
    mode: '0755'
    owner: debian
    group: debian
  become: yes

- name: Check if dotfiles repository exists
  stat:
    path: "{{ debian_home.stdout }}/src/github.com/zfogg/dotfiles/.git"
  register: dotfiles_repo

- name: Clone dotfiles repository
  shell: |
    GIT_CONFIG_GLOBAL=/dev/null \
    git clone https://github.com/zfogg/dotfiles.git \
        "{{ debian_home.stdout }}/src/github.com/zfogg/dotfiles"
  become_user: debian
  become: yes
  when: not dotfiles_repo.stat.exists
  register: dotfiles_clone

- name: Run dotfiles installer
  shell: |
    cd {{ debian_home.stdout }}/src/github.com/zfogg/dotfiles
    ./install.sh
  become_user: debian
  become: yes
  register: dotfiles_install

- name: Display dotfiles installation result
  debug:
    msg: "{{ dotfiles_install.stdout_lines }}"
  when: dotfiles_install.stdout_lines is defined
