---
- name: Remove old Docker packages
  apt:
    name:
      - docker.io
      - docker-compose
      - docker-doc
      - podman-docker
      - containerd
      - runc
    state: absent
  become: yes

- name: Create Docker keyring directory
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
  become: yes

- name: Download Docker GPG key
  get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
  become: yes

- name: Get Debian version codename
  shell: . /etc/os-release && echo "$VERSION_CODENAME"
  register: debian_codename
  changed_when: false

- name: Add Docker repository
  copy:
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/debian
      Suites: {{ debian_codename.stdout }}
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc
    dest: /etc/apt/sources.list.d/docker.sources
    mode: '0644'
  become: yes

- name: Update apt cache for Docker repo
  apt:
    update_cache: yes
  become: yes

- name: Install Docker packages
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  become: yes

- name: Add debian user to docker group
  user:
    name: debian
    groups: docker
    append: yes
  become: yes

- name: Enable and start Docker service
  systemd:
    name: docker
    enabled: yes
    state: started
  become: yes
